@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,900,400);
body  {font-family:"Roboto",sans-serif;font-weight: 400; position: relative;min-height: 100%;margin: 0;padding-bottom: 50px;}
ul ,ul li {list-style-type: none;}
html {height: 100%;}
img {display: block;max-width: 100%;height: auto;}
p { margin: 0 0 15px 0; }
b, strong { font-weight: 900; }
.block {display: block}
a, a:visited, a:focus, a:hover { text-decoration: none; outline: 0;-o-transition: all 0.218s;-moz-transition: all 0.218s;-webkit-transition: all 0.218s;transition: all 0.218s; }
.loading-data, .loading-data:hover, .loading-data:focus{background:#fff url("/images/product_loader.gif") no-repeat scroll center center !important;pointer-events:none;opacity:0.4;}
.modal-content .btn-site{ margin-bottom:0px }
.grey_bg{background:#f6f6f6;border: 1px solid #e9e9e9}
.grey_bg .title {border-bottom: 1px solid #dcdcdc; padding:10px 5px;background: #ededed; display: inline-block; font-size: 15px; font-weight: 900;margin: 0px; margin-bottom:15px}
.div_disabled{box-shadow:none;cursor:not-allowed!important;opacity:0.50!important;pointer-events:none!important}
.loading_smooth div:not(.navbar-header) , .loading_smooth .btn , .loading_smooth a:not(.navbar-brand),.loading_smooth table ,.loading_smooth td{
  pointer-events:none!important;cursor:not-allowed!important; opacity: 0.7
}
.loading_smooth:before{
  display: block;
  position: fixed;
  content: "";
  left: -200px;
  width: 200px;
  height: 3px;
  background-color: #9c9c9c;
  animation: loading 2s linear infinite;
  z-index: 11111;
  top: 0px
}
@keyframes loading {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}
 
/*Admin panel header*/
.admin_header {z-index: 1;left: 0;min-height: 100%;position: fixed;top: 0;background: transparent}
.admin_header .container-fluid {padding: 0px}
.admin_header .navbar-brand{z-index: 2;position:fixed;padding:8px 10px;display: flex;margin-left: 50px;}
.admin_header .navbar-brand img {max-height: 100%}
.admin_header .navbar-default .navbar-toggle {border-color: transparent;margin-right: 0px;}
.admin_header .navbar-default .navbar-toggle:focus,
.admin_header .navbar-default .navbar-toggle:hover {background: transparent;}
.admin_header .navbar-nav > li {float: none;display: inline-block;}
.admin_header .navbar-header {float: none}
.admin_header .toogle_bar {display: block;float: left; z-index: 11;position: relative; color: #000000; font-size: 25px; border-right: 1px solid #cccccc;padding: 7px 10px;margin-left: 0px}
.admin_header .toogle_bar a {font-size: 20px; padding: 15px}

.admin_header .navbar_menu {padding: 0px; padding-top: 10px;background: rgba(27, 27, 27, 0.9);margin-left: -1px;
                            position: fixed;height:95%!important;overflow: auto!important;padding-bottom: 30px}
.admin_header .navbar_main .dropdown-menu {font-size: 12px;}
.admin_header .navbar_main {float: none;text-align: center}
.admin_header .navbar_main > li {display: block; text-align: left}
.admin_header .navbar_main > li > a{color: #fff!important; padding:7px 11px; font-size: 13px;border-left: 3px solid transparent;border-top: 1px solid transparent;border-bottom: 1px solid transparent}
.admin_header .navbar_main > li > a i {width: 18px; font-size: 15px}
.admin_header .navbar_main .dropdown-menu {border-top: none;padding-top: 0px;padding-bottom: 0px;z-index: 9999;position: relative; float: none;box-shadow: none;border: none;border-top: 1px solid #cccccc}
.admin_header .navbar_main .dropdown-menu li a {padding: 7px 7px;border-bottom: 1px solid #f4f4f4;}
.admin_header .navbar_main .drop.active {border-right: 1px solid #797979;}
.admin_header .navbar_main .drop.active .dropdown-menu{display: block}
.admin_header .navbar_main > li > a:hover,
.admin_header .navbar_main > li > a.focus,
.admin_header .navbar_main > li.active > a{background: #6f6f6f!important; color: #fff!important;border-left: 3px solid #ffffff}
.admin_header .navbar_main > li.drop .dropdown-menu >li > a {border-left: 3px solid transparent;color: #737373}
.admin_header .navbar_main > li.drop .dropdown-menu >li > a:hover ,
.admin_header .navbar_main > li.drop .dropdown-menu >li > a:active ,
.admin_header .navbar_main > li.drop .dropdown-menu >li > a:focus ,
.admin_header .navbar_main > li.drop .dropdown-menu >li > a.active {background:#f2f2f2; color: #000000;border-left: 3px solid #6c6c6c;}

.admin_header .navbar_main > li.drop .dropdown-menu >li > a.active:before{content:"";width:12px;height:12px;width:0px;height:0px;border-top:10px solid transparent;border-bottom:10px solid transparent;border-right:10px solid #ffffff;position:absolute;right: -2px;}

.admin_header .nav_user {position: fixed;right: 0px; top: 0px;z-index: 1; width: 100%;background: rgb(222, 222, 222); text-align: right!important; margin-right: 0px;padding-right: 0px; border-bottom: 1px solid #cccccc}
.admin_header .nav_user .dropdown-menu {font-size: 12px;padding: 0px}
.admin_header .nav_user li a{color: #000000; }
.admin_header .nav_user .dropdown.open > a ,
.admin_header .nav_user li a:hover {background:#f2f2f2!important; color: #353535;z-index: 1111;margin-bottom: -1px}
.admin_header .nav_user .dropdown.open .dropdown-menu li > a {margin-bottom: 0px}
.admin_header .nav_user > li {border-left: 1px solid #afadad;margin-right: -4px}
.admin_header .nav_user .dropdown.open .dropdown-menu {margin-right: -1px}
.admin_header .nav_user .dropdown-menu li a {padding: 10px 12px;border-bottom: 1px solid #f4f4f4;}
.admin_header .nav_user .dropdown-header {background: #F2F2F2;border-bottom: 1px solid #e6e6e6;color: #1a1a1a; font-size: 15px; padding: 8px 20px 3px 20px}

.left_panel .footer , .left_panel .admin_panel_body {margin-left: 200px;}
.left_panel .navbar_menu {width: 200px;}

.shrink_panel .navbar_menu .navbar-nav > li a span{display: none}
.shrink_panel .footer , .shrink_panel .admin_panel_body {margin-left: 40px;}
.shrink_panel .admin_header .navbar_main .drop.active { border-right: 0px}
.shrink_panel .navbar_menu {width: auto}
.shrink_panel .admin_header .navbar_main > li.drop .dropdown-menu {display: none}
.shrink_panel .admin_header .navbar_main > li.drop:hover .dropdown-menu {display: block}
.shrink_panel .admin_header .navbar_main > li.drop .dropdown-menu >li > a {border-left: 0px solid transparent;color: #ffffff}
.shrink_panel .admin_header .navbar_main > li.drop .dropdown-menu >li > a:hover ,
.shrink_panel .admin_header .navbar_main > li.drop .dropdown-menu >li > a:active ,
.shrink_panel .admin_header .navbar_main > li.drop .dropdown-menu >li > a:focus ,
.shrink_panel .admin_header .navbar_main > li.drop .dropdown-menu >li > a.active {background:rgba(250, 250, 250, 0.9); color: #000000;border-left: 0px solid #6c6c6c;}
.shrink_panel .admin_header .navbar_main > li > a {border-top: 1px solid transparent; border-bottom: 1px solid transparent}
.shrink_panel .admin_header .navbar_main > li > a:hover ,
.shrink_panel .admin_header .navbar_main > li.active > a
{border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc}
.shrink_panel .admin_header .navbar_main .dropdown-menu li a {padding: 8px 12px;border-bottom: 1px solid #8f8f8f;}
.shrink_panel .admin_header .navbar_main > li.drop .dropdown-menu >li > a.active:before {display: none}
.shrink_panel .navbar_menu {overflow:hidden!important}
.shrink_panel .navbar-nav li.active ul.dropdown-menu{
  position: fixed; left: 42px; top:auto; background: #6F6F6F; margin-top: -36px; border: 1px solid #cccccc; border-left: 0px}


.admin_panel_body {margin-top: 70px;}
.page-title {font-size: 16px;color: #666;margin: 0px 0px 20px 0px;font-weight: bold;font-family: "Open Sans", sans-serif;}
.page-title-small {font-size: 16px;color: #666;margin: 0px 0px 10px 0px;font-weight: bold;font-family: "Open Sans", sans-serif;}
.show_data, .dataTables_filter {margin-bottom: 15px;}
.input-group-btn .name-save {background: #363636; color: #ffffff}
.input-group-btn .name-save:hover ,.input-group-btn .name-save:focus {background: #000000}
.image_view { margin: 20px 0px}
.grid-boxes .item {margin-bottom: 30px; }
.grid-boxes .item .image_layer {display: inline-block}
.grid-boxes .item .image_div {}

.action_div a{text-decoration: none;padding: 4px 5px;text-align: center;border: 1px solid; font-size: 10px;border-radius: 50%;margin: 0px 2px}
a.edit {color: #000000;border-color: #000000}
a.delete {color: #D84A38;border-color: #D84A38}
a.green { color: #35aa47; font-size: 14px}
a.on_home { font-size: 14px}

.grid-boxes .action_div {text-align: right; margin-bottom: 5px}
.grid-boxes .action_div a {display: inline-block; font-size: 15px;width: 30px; height: 30px}
a.on_home .green{ color:#35aa47 }
a.on_home .black{ color:#ababab }

/* TABLE */
.original_price {
  text-decoration: line-through !important;
}
.table-responsive {overflow-x:visible }
.table-bordered {border: none}
.table thead tr {background: #5a5a5a;color: #fff;}
.table thead tr th {font-size: 12px; padding: 5px 14px!important}
.table thead tr th , .table tbody tr td { vertical-align: middle; padding-left: 7px!important}
.table thead tr th:first-child , .table tbody tr td:first-child{ width:15px; text-align: center;}
.table thead tr th:last-child , .table tbody tr td:last-child{ width:120px; text-align: center;}
.table tbody tr td.action_div{background: #f1f1f1}
.table thead tr th.status_td {width: 70px}
.table tbody tr td { padding: 5px 7px!important; font-size: 12px}
.table tbody tr td p{margin-bottom: 0px}

.table tbody tr:hover .table_link {background: #cecece}
.table_link {font-size: 10px;color: #000000;border-radius: 25px;display: inline-block;border: 1px solid #000000;padding:4px 8px;-o-transition: all 0.218s;-moz-transition: all 0.218s;-webkit-transition: all 0.218s;transition: all 0.218s;}
.table_link:hover{background: #ffffff; color: #000000}


.dataTables_filter { display: inline; float: right; margin-bottom: 1px}
.dataTables_filter input, .dataTables_filter input:focus {box-shadow: none;border: 1px solid #ccc;outline: none;font-weight: normal}
.table.dataTable.no-footer {border-bottom: none; margin-bottom: 10px}
.dataTables_length { display: inline; font-size: 12px}
.action , .dataTables_length select{ height: 30px; border-radius: 0px}
.dataTables_wrapper .dataTables_paginate .paginate_button {background: #ffffff; border: 1px solid #cacaca!important}

.inner-table thead tr th:first-child { width: auto}
.inner-table thead tr { background:#828282; color:#fff }
.order_table a{font-size: 15px; color: #000000}
.admin_panel_body .modal-lg {width: 90%}
.order_info {padding-left: 0px; font-size: 13px}
.order_detail table tr td , .order_detail table tr th {}
.order_detail .table thead tr td:first-child, .order_detail .table thead tr th:first-child, .order_detail .table tbody tr td:first-child {text-align: left!important}
/* ADD PAGE */
.tab-content {padding: 30px 0px;background: #fcfcfc;border: 1px solid #dddddd;margin-top: 0px;}
.tab-content .border-left { border-left: 1px solid #cccccc}
.form_tabs label {margin-bottom: 1px;font-weight: 600; font-size: 12px}
.form_tabs {margin-top: 20px;}
.form_tabs ul {margin-bottom: 0px; border: none; width: 100%}
.form_tabs li.active a {background: #ffffff;border-top: 4px solid #D2AC67;}
.form_tabs li a {border-radius: 0px;color: #000; border-top: 4px solid #ffffff;padding: 13px 23px}
.form_tabs .nav-tabs>li.active>a, .form_tabs .nav-tabs li.active>a:focus, .form_tabs .nav-tabs>li.active>a:hover {background: #fcfcfc;border-top: 4px solid #000000;}
.form_tabs .nav > li > a:focus, .form_tabs .nav > li > a:hover { background: #efefef; border-top: 4px solid #DDDDDD}
.form_tabs .input-group .change_currency a {padding: 5px 10px; border-bottom: 1px solid #e6e6e6}
.form_tabs .input-group .change_currency:last-child a {border-bottom: 0px}

.nav-stacked li a{border: 1px solid #ddd!important; padding-left:10px; color: #4c4c4c}
.nav-stacked li.active a {border-left: 4px solid #000000!important; padding-left: 15px; background: #f5f5f5; color: #000000}


/*Footer*/
.footer {position: absolute;font-size: 11px;right: 0;bottom: 0;left: 0;padding: 10px;background-color: #efefef; border-top: 1px solid #dcdcdc}
.footer a {font-size: 11px;text-decoration: none;}

/*TYPE HEAD*/
.twitter-typeahead {width: 100%;position: relative;}
.tt-dropdown-menu {
  width: 100%;
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  max-height:200px; overflow-y:scroll;

}
.tt-suggestion {display: block;padding: 3px 20px;border-left: 3px solid transparent; background: #ffffff}
.twitter-typeahead .tt-suggestion.tt-cursor {background: #dadada;color: #000000;border-left: 3px solid #777777}
.tt-suggestion.tt-cursor a {color: #fff;}
.tt-suggestion p {margin: 0;}

/* ASSETS */
/* Radio Button */
.control-group {display: inline-block;width: 200px;height: 210px;margin: 10px;padding: 30px;text-align: left;vertical-align: top;background: #fff;box-shadow: 0 1px 2px rgba(0,0,0,.1);}
.control {font-size: 14px;position: relative;margin-bottom: 11px;padding-left: 25px;cursor: pointer;}
.control input {position: absolute;z-index: -1;opacity: 0;}
.control__indicator {position: absolute;top: -2px;left: 0;width: 20px;height: 20px;background: #ffffff;border: 1px solid #ccc;border-radius: 4px;}
.radio-sm .control__indicator {position: absolute;top:1px;left: 0;width: 14px;height: 14px;background: #ffffff;border: 1px solid #ccc;border-radius: 4px;}
.control--radio .control__indicator {border-radius: 50%;}
/* Hover and focus states */
.control input:checked ~ .control__indicator {background: #ffffff;}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {background: #ffffff;}
.control input:disabled ~ .control__indicator {pointer-events: none;opacity: .6;background: #e6e6e6;}
.optimize-checkbox {margin-top: 7px; overflow-x: auto}
.optimize-checkbox .control--checkbox{top:-13px}
/* Check Box */
.control__indicator:after {position: absolute;display: none;content: '';}
.control input:checked ~ .control__indicator:after {display: block;}
.control--checkbox .control__indicator:after {top: 3px;left: 3px;width: 12px;height: 11px;transform: rotate(0deg);border: solid #000000;border-width: 6px 5px 6px 2px;border-radius: 3px;}
.control--checkbox input:disabled ~ .control__indicator:after {border-color: #7b7b7b;}
.control--radio .control__indicator:after {background: #000000 none repeat scroll 0 0;border-radius: 50%;height: 14px;left: 2px;top: 2px;width: 14px;}
.radio-sm {vertical-align: top}
.radio-sm .control__indicator:after {background: #000000 none repeat scroll 0 0;border-radius: 50%;height: 8px;left: 2px;top: 2px;width: 8px;}
.control--radio input:disabled ~ .control__indicator:after {background: #7b7b7b;}

/* FORM CLASS */
.form-control { border-radius: 0px; padding: 5px 12px; font-size: 15px; height: 30px}
textarea.form-control { height: auto}
.form-control:focus {border-color: #000;outline: 0;box-shadow: none !important;}
.form-control[disabled], fieldset[disabled] .form-control {cursor: default;}
input.spinner[type="text"], select.spinner {background: rgba(0, 0, 0, 0) url("/admins/images/input-spinner.gif") no-repeat scroll right center;}
.btn-site {background: #000000;border-radius: 25px; padding: 9px 23px;border:1px solid #000000;margin-bottom: 10px;color: #ffffff;-o-transition: all 0.218s;-moz-transition: all 0.218s;-webkit-transition: all 0.218s;transition: all 0.218s;}
.btn-site:focus, .btn-site:hover{outline: 0 !important;box-shadow: none; background: transparent;color: #000000;border: 1px solid #000000}
.btn-default {padding: 9px 23px;border-radius: 25px; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {outline: none}
.btn.disabled,button.disabled,.btn[disabled],fieldset[disabled] .btn, div.disabled,a.disabled{box-shadow:none;cursor:not-allowed;opacity:0.65;pointer-events:none}
.btn-sm {padding: 5px 15px;border-radius: 7px;}
.dropbox {border: 1px dotted #cccccc; padding: 10px; background: #fafafa;}
.dropbox .btn {margin-bottom: 0px}
.dropbox input {
  display: none;
}
.photo_size {font-size:15px;float: right}
.bootstrap-tagsinput {
  width: 100%;
}
.label {
  line-height: 2 !important;
}
.bootstrap-tagsinput .tag { padding: 5px 10px; background: #767676; border-radius: 0px}
/* ALERT & ERROR */
.alert-danger{background:url("/images/error.png") no-repeat scroll 5px center #f2dede;padding-left:37px;border-color:#E32A31;}
.alert-success{background:url("/images/success.png") no-repeat scroll 5px center #dff0d8;padding-left:37px;border-color:#ABD686;}
.has-error .form-control , .form-control.error{border:1px dashed #E32A31;background:#f9e9e9;}
.has-error .form-control:focus{box-shadow:none;}
.has-error label.control-label{color:#E32A31;}
.has-error span.error , .has-error label.error, label.error,span.error-block{padding-left:0px;font-size:11px;font-weight:normal;color:#E32A31;}
label.error{display:none;}
.error_list{padding-left:0px;list-style-type:none;}
.error_list li{color:#E32A31;}
span.require{color:#E32A31;}
.mobile_error{position:relative;}
.mobile_error label.error,.mobile_error span.error{position:absolute;bottom:6px;right:0px;z-index:11}

/* NOTIFY CSS */
[data-notify="container"][class*="alert-"]{border-width:0px;border-radius:0px;padding:10px 0px;width:100%;right: 0px!important;top: 0px!important;background-image: none!important;text-align: center;z-index: 11111!important}
[data-notify="container"][class*="alert-"] .close{color:#000000}
[data-notify="container"].success{background-color:rgba(34,173,115,0.95);color:#ffffff;}
[data-notify="container"].danger{background-color: rgba(242, 222, 222, 0.95);color: #ffffff}
[data-notify="container"][class*="alert-"] > [data-notify="message"]{display:block;margin-bottom:0px;font-size:14px;}
@keyframes animate-bg{from{background-position:0 0;}to{background-position:-80px 0;}}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
@-webkit-keyframes fadeOutUp{from{opacity:1}to{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}}
@keyframes fadeOutUp{from{opacity:1}to{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}}
.fadeOutUp{-webkit-animation-name:fadeOutUp;animation-name:fadeOutUp}
@-webkit-keyframes fadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
@keyframes fadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}


.font-10 { font-size:10px; }
.font-12 { font-size:12px; }
.font-13 { font-size:13px; }
.font-14 { font-size:14px; }
.font-15 { font-size:15px; }
.font-16 { font-size:16px; }
.font-18 { font-size:18px; }
.font-20 { font-size:20px; }
.font-22 { font-size:22px; }
.font-24 { font-size:24px; }
.font-26 { font-size:26px; }
.font-28 { font-size:28px; }
.font-30 { font-size:30px; }
.font-32 { font-size:32px; }
.font-50 { font-size:50px; }
.nopad { padding:0px!important; }
.padd-5 { padding:5px; }
.padd-10 { padding:10px; }
.padd-15 { padding:15px; }
.padd-left-0 { padding-left: 0px}
.padd-left-5 { padding-left:5px; }
.padd-left-10 { padding-left:10px; }
.padd-left-15 { padding-left:15px; }
.padd-left-20 { padding-left:20px; }
.padd-left-25 { padding-left:25px; }
.padd-left-30 { padding-left:30px; }
.padd-left-35 { padding-left:35px; }
.padd-left-40 { padding-left:40px; }
.padd-right-0 { padding-right:0px; }
.padd-right-5 { padding-right:5px; }
.padd-right-10 { padding-right:10px; }
.padd-right-15 { padding-right:15px; }
.padd-top-0 { padding-top:0px; }
.padd-top-5 { padding-top:5px; }
.padd-top-10 { padding-top:10px; }
.padd-top-15 { padding-top:15px; }
.padd-top-20 { padding-top:20px; }
.padd-top-25 { padding-top:25px; }
.padd-top-30 { padding-top:30px; }
.padd-top-35 { padding-top:35px; }
.padd-bottom-5 { padding-bottom:5px; }
.padd-bottom-10 { padding-bottom:10px; }
.padd-bottom-15 { padding-bottom:15px; }
.padd-bottom-20 { padding-bottom:20px; }
.padd-bottom-25 { padding-bottom:25px; }
.padd-bottom-35 { padding-bottom:35px; }
.nomar { margin:0px; }
.margin-0 { margin:0px; }
.margin-5 { margin:5px; }
.margin-10 { margin:10px; }
.margin-15 { margin:15px; }
.margin-left-0 { margin-left:0px; }
.margin-left-5 { margin-left:5px; }
.margin-left-10 { margin-left:10px; }
.margin-left-15 { margin-left:15px; }
.margin-left-20 { margin-left:20px; }
.margin-left-25 { margin-left:25px; }
.margin-right-0 { margin-right:0px; }
.margin-right-5 { margin-right:5px; }
.margin-right-10 { margin-right:10px; }
.margin-right-15 { margin-right:15px; }
.margin-right-50 { margin-right: 50px; }
.margin-top-0 { margin-top:0px; }
.margin-top-0 { margin-top:0px; }
.margin-top-5 { margin-top:5px; }
.margin-top-10 { margin-top:10px; }
.margin-top-15 { margin-top:15px; }
.margin-top-20 { margin-top:20px; }
.margin-top-25 { margin-top:25px; }
.margin-top-30 { margin-top:30px; }
.margin-top-35 { margin-top:35px; }
.margin-top-40 { margin-top:40px; }
.margin-bottom-0 { margin-bottom:0px; }
.margin-bottom-5 { margin-bottom:5px; }
.margin-bottom-10 { margin-bottom:10px; }
.margin-bottom-15 { margin-bottom:15px; }
.margin-bottom-20 { margin-bottom:20px; }
.margin-bottom-25 { margin-bottom:25px; }
.margin-bottom-30 { margin-bottom:30px; }
.margin-bottom-40 { margin-bottom:40px; }
.label- { background-color: #7C7C7C; }
@media (min-width: 769px) {
  .top_panel .admin_header ul.nav li:hover > ul.dropdown-menu {display: block;}
}
@media (max-width: 768px) {
  .navbar-header{float: none}
  .navbar-default{background: transparent;border: none;margin-bottom: 0px}
  .admin_header .navbar-right > li {display: inline-block}
  .admin_header .navbar-right > li a {line-height: 30px}
  .admin_header .navbar-right {position: absolute;width: auto;top: 0px;margin: 0px;right: 0px;background: transparent;border-bottom: 0px}
  .admin_header .navbar-right .open .dropdown-menu {float: left;position: absolute;left: auto;right: 0px}
  .admin_header .navbar-right .open .dropdown-menu li {background: #ffffff;}
  .admin_header .navbar-toggle .icon-bar {background: #ffffff;}
  .admin_header .nav_user li a {color: #ffffff}
  .dropdown .fa-angle-down {position: absolute;right: 5px;}
  .navbar-toggle {display: block; float: right}
  .top_panel .admin_header .container-fluid{}
  .top_panel .admin_header .navbar_menu {}
  .admin_header .navbar_menu > ul {display: block;position: relative;text-align: left;max-height: 320px;overflow: auto}
  .admin_header .navbar_menu ul li {display: block}
  .admin_header .navbar_menu li a {font-size: 14px;padding: 10px;text-align: left}
  .admin_header .navbar_menu li.open .dropdown-menu {background: #ffffff}
  .admin_header .navbar_menu li.open .dropdown-menu > li > a:hover,.admin_header .navbar_menu li.open .dropdown-menu > li > a.active{background: #6f6f6f;color: #ffffff}
  .navbar-collapse.collapse {
    display: none!important;
  }
  .collapse.in {
    display: block!important;

  }
  .shrink_panel .navbar_menu .navbar-nav > li a span {display: inline}
  .navbar-right .dropdown-menu{border: 1px solid #cccccc!important;border-top: 0px!important}
  .left_panel .admin_header .container-fluid {padding: 0px 15px}
  .left_panel .admin_header {width: 100%;position: fixed;min-height: 1%;background: #2F2F2F}
  .toogle_bar {display: none!important}
  .left_panel .navbar-brand{background: transparent;float: left;position: absolute;left: 40px}
  .left_panel .admin_header .navbar-default .navbar-toggle{float: left;}
  .left_panel .admin_panel_body{margin-left: 0px;margin-top: 15px}
  .left_panel .navbar_menu {width: 100%;position: relative;background: transparent;padding: 0px 15px}
  .admin_panel_body .col-sm-2 {width: 20%;float: left;}
  .admin_panel_body {margin-top: 70px!important; transition: none!important;}
  .table-responsive {border: 0;}
  .dataTables_wrapper .dataTables_filter {float: right !important;}
  .shrink_panel .admin_header .navbar_main > li.drop .dropdown-menu {position: static}
  .left_panel .footer , .left_panel .admin_panel_body {margin-left:0px;}
}
@media (max-width: 600px) {
  .admin_panel_body .col-sm-2 {width: 25%;float: left;}
  .form_tabs .nav-tabs > li.active {width: 100%;}
  .form_tabs .nav-tabs > li.active a {border-bottom: 1px solid #ccc;}
  .form_tabs .nav-tabs > li {width: 100%;}
  .form_tabs .nav-tabs {margin-bottom: 5px;}
}
@media (max-width: 480px) {
  .admin_panel_body .col-sm-2 {width: 50%;float: left;}
}